{
  "packageManager": "npm",
  "packages": [
    {
      "name": "upvibe",
      "global": true,
      "strategy": "latest"
    },
    {
      "name": "@openai/codex",
      "global": true,
      "strategy": "latest"
    },
    {
      "name": "@anthropic-ai/claude-code",
      "global": true,
      "strategy": "latest"
    }
  ]
}